.top {
  background-image: url("./images/earth-eye.png");
  background-position: middle;
  width: 100% cover contain;
  background-repeat: no-repeat;
  background-size: 95%;
  height: 400px;
  float: center;
  color: white;
}



.active {
    color: #ee6e73;
    font-weight: 300;
  }
  
  .td-width {
      width: 100px;
  }

  #results {
    display: inline-block;
    overflow: auto;
    width: 95%;
    height: 700px;
  }

  #articles {
    width: 100%;
    margin: 10px 10px;

  }

  th {
    width: 20%;
  }

  #title {
    width: 50%;
  }