.active {
    color: #ee6e73;
    font-weight: 300;
  }
  
  .td-width {
      width: 100px;
  }

  #results {
    display: inline-block;
    overflow: auto;
    width: 95%;
    height: 700px;
  }

  #articles {
    width: 100%;
    margin: 10px 10px;
    
  }